jenkins:
  numExecutors: 2
  clouds:
    - kubernetes:
        containerCapStr: "10"
        maxRequestsPerHostStr: "32"
        jenkinsUrl: "http://{{ .Values.service.name }}:{{ .Values.service.httpPort }}"
        name: "kubernetes"
        namespace: "{{ .Release.Namespace }}"
        skipTlsVerify: true
credentials:
  system:
    domainCredentials:
      - credentials:
          - usernamePassword:
              description: "Githubuser"
              id: "some_randome"
              password: "XXXXXXXXXXX"
              scope: GLOBAL
              username: "git_hub_user11"
unclassified:
  location:
    adminAddress: "romastelchenko@gmail.com"
    url: "http://{{ .Values.ingress.host }}/"
  shell:
    shell: "/bin/bash"